body{
    height: 100vh;
    background-color: #292929;
    color: #292929;
}

.a_null{ 
    text-decoration:none;
    color: black;
} 

.navb{
    min-height: 60px;
    max-width: 80%;
}

.navtext{
    font-size: x-large;
    text-align: center;
    justify-content: center;
}

.back{
    display: flex;
    flex-flow: column;
    height: 100%;
    max-width: 80%;
    padding: 0px 200px 30px;
}

.slidebar{
    height: 300px;
    width: 100%;
}

.topslide{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 350px;
    width: 100%;
}

.bookrack{
    height: 100%;
    width: 100%;
    padding: 20px 0px;
}

.bookinfo{
    font-size: 20px;
}
.price{
    font-size: 20px;
}